<div class="burger-menu" id="burger-menu">

  <div class="burger-menu-container">
<div class="burger-menu-top">
    <a class="burger-menu-logo-link" href="/">
  <svg class="burger-menu-logo">
    <use href="img/icons.svg#companylogo"></use>
  </svg>
</a>
    
        <button class="burger-menu-btn" type="button">
          <svg class="burger-menu-icon-btn" width="24" height="24">
            <use href="img/icons.svg#close"></use>
          </svg>
        </button>
</div>

    <nav class="burger-menu-nav">
      <ul class="burger-menu-list">
        <li class="burger-menu-item"><a class="burger-menu-link link" href="#about">About us</a></li>
        <li class="burger-menu-item"><a class="burger-menu-link link" href="#benefits">Benefits</a></li>
        <li class="burger-menu-item"><a class="burger-menu-link link" href="#gallery">Gallery</a></li>
        <li class="burger-menu-item"><a class="burger-menu-link link" href="#testimonials">Testimonials</a></li>
        <li class="burger-menu-item"><a class="burger-menu-link link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>

    <a class="burger-menu-bnt-order" href="#contacts">Order Now</a>

  </div>
</div>