<section class="gallery" id="gallery">
    <div class="container">
        <div class="gallery-header">
            <h2 class="gallery-title">Jewelry Showcase</h2>
            <p class="gallery-text">Discover the beauty of our handcrafted jewelry in style.</p>
        </div>

        <ul class="gallery-list">
            <li class="gallery-item">
                <img 
                class="gallery-image" 
                src="img/gallery-1@1x.jpg"
                srcset="img/gallery-1@1x.jpg 1x, img/gallery-1@2x.jpg 2x"
                alt="Purple amethyst and black onyx beaded bracelet" 
                loading="lazy" 
                width="640" 
                height="640" 
                />
            </li>

             <li class="gallery-item">
                <img 
                class="gallery-image" 
                src="img/gallery-2@1x.jpg"
                srcset="img/gallery-2@1x.jpg 1x, img/gallery-2@2x.jpg 2x"
                alt="Multi-strand beaded wrap bracelet with feather charm" 
                loading="lazy" 
                width="640"
                height="426" 
                />
            </li>

            <li class="gallery-item">
                <img 
                class="gallery-image" 
                src="img/gallery-3@1x.jpg"
                srcset="img/gallery-3@1x.jpg 1x, img/gallery-3@2x.jpg 2x" 
                alt="Gold-framed fire opal pendant"
                loading="lazy" 
                width="640" 
                height="426" 
                />
            </li>

           

            <li class="gallery-item">
                <img 
                class="gallery-image" 
                src="img/gallery-4@1x.jpg"
                srcset="img/gallery-4@1x.jpg 1x, img/gallery-4@2x.jpg 2x" 
                alt="Carved wooden sunflower earrings"
                loading="lazy" 
                width="640" 
                height="640" 
                />
            </li>
        </ul>
    </div>
</section>