<section class="testimonials">
  <div class="container">
    <h2 class="testimotial-title">Customer testimonials</h2>
    <p class="testimonials-desr">
      Absolutely love my new earrings! They are stunning.
    </p>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <img
          class="testimonials-img"
          srcset="img/testimonials-01.jpeg 1x, img/testimonials-01.jpeg 2x"
          src="../img/testimonials-01.jpeg"
          width="335"
          height="260"
          alt="girl with earrings"
        />
        <img
          class="testimonials-img"
          srcset="img/testimonials-01.jpeg 1x, img/testimonials-01.jpeg 2x"
          src="../img/testimonials-01.jpeg"
          width="335"
          height="260"
          alt="girl with earrings"
        />
        <div class="testimonials-wrap">
          <div class="testimonial-icons">
            <svg width="24" height="24">
              <use href="img/icons.svg#star-fiiled"></use>
            </svg>
            <svg width="24" height="24">
              <use href="img/icons.svg#star-fiiled"></use>
            </svg>
            <svg width="24" height="24">
              <use href="img/icons.svg#star-fiiled"></use>
            </svg>
            <svg width="24" height="24">
              <use href="img/icons.svg#star-fiiled"></use>
            </svg>
            <svg width="24" height="24">
              <use href="img/icons.svg#star-outline"></use>
            </svg>
          </div>
        </div>
      </li>
      <li></li>
    </ul>
  </div>
</section>
